@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body,html {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-rubik), sans-serif;
 
}

.welcome {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
.welcome::before {
    background-color: #f28444;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    bottom: 0%;
    z-index: -1;
    transform: rotate(-2deg);

  }

.main-container{
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  display:flex;
  gap: 5vw 0;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.line {
  width: 100%; 
  height: 20%;
  display: block;
  margin: 5px auto;
}

@media (max-width: 600px) {
  .line {
    width: 90%; 
    height: 10%; 
  }
}

.learn-button{
  width: 20%;
  border: 2px solid #f28444;

}

.try-button{
  width: 20%;
  border: 2px solid #f66e6e;
}

.page-end{
  position: fixed;
  bottom:5%;
}

.q-container{
  display:flex;
  flex-direction: column;
  gap: 5vw 5vh;
}

.timezone, .sleep{
  display:flex;
  flex-direction: column;
  gap: 2vw 2vh;
  justify-content: center;
  align-items: center;
}

.td-item{
  border: 2px solid #f66e6e;
}

.td-body{
  width:80%;
}

.timezone-table input,
.timezone-table button {
  width: 100%; 
  box-sizing: border-box;
}

.submit{
  background-color: #f28444;
  color: white;
  width: 50%;
  position: relative;
  left: 25%;
}

.submit:hover{
  transform: scale(1.2);
}

.sleep-options{
  border: 2px solid #f66e6e;
  width: 80%;
}

.sleep-options:focus{
  background-color: white;
  color:#f66e6e;
  border-color: #f66e6e;
  outline:none;
}

.timezone-question:hover, .sleep-question:hover{
  background-color: #f28444;
  color:white;

}

.add-timezone{
  background-color: #f66e6e;
}

.add-timezone:hover{
  background-color: #f28444;
  color: white;
}

.questions{
  display:grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  gap: 1vw 4vh;
  padding: 0 10px 0 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;

}
.introduction{
  padding: 1vh 1vh 1vh 1vh;
  margin-top: 5vh;
  display:flex;
  flex-direction: column;
  gap: 1vw 1vh;
  background-color: #f28444;
  color: white;
  width: 100%;
  transform: translateX(+25%);
  transform: translateY(-25%);
} 
.pilltime{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.pilltime:hover{

  transform: scale(1.1);
}

.first-text{
  background-color: #f66e6e;
  color: black;
}
